.icon {
  width: 3rem;
  cursor: pointer;

  &--like {
    &-active {
      filter: invert(9%) sepia(95%) saturate(7500%) hue-rotate(1deg)
        brightness(102%) contrast(105%);
    }
  }

  &--show-password {
    position: absolute;
    right: -4rem;
    top: 1.5rem;

    @media screen and (max-width: 650px) {
      display: none;
    }

    &:hover {
      filter: brightness(0) invert(0.5);
    }
  }

  &--layout {
    transition: all 0.3s;

    &-triple {
      @media screen and (max-width: 1280px) {
        display: none;
      }
    }

    @media screen and (max-width: 500px) {
      display: none;
    }

    &:hover {
      filter: invert(84%) sepia(85%) saturate(479%) hue-rotate(359deg)
        brightness(75%) contrast(91%);
    }

    &:active {
      transform: translateY(3px);
    }
  }

  &--exit {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg)
      brightness(102%) contrast(102%);
  }
}
