.nav {
  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: $color-primary;
  width: 30rem;
  z-index: 20;
  padding: 1rem 1.5rem;
  color: $color-black;
  display: flex;
  flex-direction: column;

  &__title {
    @include baseTitle;
    text-align: start;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__menu {
    display: none;
    @media screen and (max-width: 920px) {
      display: block;
      background-color: $color-primary;
      border-radius: 2rem 0 0 2rem;
      position: absolute;
      left: -5rem;
      top: 1rem;
      width: 5rem;
      height: 5rem;
      @include flexCenter;

      &::before {
        content: "";
        background-color: $color-primary;
        clip-path: polygon(
          61% 56%,
          81% 39%,
          100% 0,
          100% 100%,
          0 100%,
          0 62%,
          34% 63%
        );
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: -1.2rem;
        right: 0;
      }

      &::after {
        content: "";
        background-color: $color-primary;
        clip-path: polygon(
          61% 56%,
          81% 39%,
          100% 0,
          100% 100%,
          0 100%,
          0 62%,
          34% 63%
        );
        position: absolute;
        width: 2rem;
        height: 2rem;
        bottom: -1.2rem;
        right: 0;
        transform: scaleX(-1) rotate(180deg);
      }
    }
  }

  @media screen and (max-width: 920px) {
    transition: all 0.3s;
    position: fixed;
    transform: translateX(100%);
  }

  &--active {
    @media screen and (max-width: 920px) {
      transform: translateX(0%);
    }
  }

  &__layout {
    padding: 1rem 0;
    border: 2px solid $color-black;
    border-left: none;
    border-right: none;

    @media screen and (max-width: 500px) {
      display: none;
    }

    &-title {
      font-size: 2rem;
      text-align: start;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
}
