.login {
  @include flexCenter();
  width: 80rem;
  height: 70%;
  min-height: 62rem;
  background-color: lighten($color-primary, 0.8);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6rem 4rem;
  box-shadow: 1rem 1rem 0.5rem $color-white;
  position: relative;
  z-index: 1;
  animation: fadeIn 1s;

  @media screen and (max-width: 1280px) {
    width: 70rem;
    max-width: 100%;
  }

  @media screen and (max-width: 500px) {
    padding: 2rem;
    margin: 1rem 0;
    box-shadow: none;
  }

  &__title {
    @include baseTitle;
    margin-bottom: 5rem;
    text-decoration: underline;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      margin: 0 auto;
      margin-bottom: 3rem;
    }
  }

  &__description {
    font-size: 2rem;
    font-weight: bold;
    width: 40rem;
    margin-bottom: 5rem;

    @media screen and (max-width: 780px) {
      font-size: 1.4rem;
      max-width: 100%;
    }

    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }

  &__link {
    color: $color-link;
    cursor: pointer;

    &:hover {
      color: darken($color-link, 10);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
