.btn {
  &--base {
    @include baseBtn($color-black, $color-neutral);
  }

  &[disabled] {
    @include baseBtn($color-disabled--darker, $color-disabled);
  }

  &--login {
    @include baseBtn($color-primary, $color-black);
    @include btnMotion(3);
    width: 30rem;
    height: 6rem;
    box-shadow: none;
    border-radius: 0;
    margin-top: 6rem;

    &[disabled] {
      background-color: $color-disabled;
      color: $color-disabled--darker;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  &--register {
    @include baseBtn($color-primary, $color-black);
    @include btnMotion(3);
    width: 30rem;
    height: 6rem;
    box-shadow: none;
    border-radius: 0;
    margin-top: 4rem;

    &[disabled] {
      background-color: $color-disabled;
      color: $color-disabled--darker;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  &--logout {
    @include baseBtn($color-primary, $color-black);
    width: 100%;
    height: 6rem;
    box-shadow: none;
    margin-top: auto;
    justify-content: space-between;
    font-weight: bold;
    box-shadow: 0 0 1rem $color-box-shadow;
  }
}
