$color-primary: rgb(235, 235, 75);
$color-secondary: rgb(3, 154, 96);

$color-white: rgb(214, 204, 204);
$color-black: rgb(25, 24, 24);

$color-disabled: gray;
$color-disabled--darker: rgb(64, 64, 64);

$color-neutral: rgb(163, 163, 162);
$color-neutral--darker: rgb(184, 184, 32);

$color-gold: gold;

$color-box-shadow: rgba(10, 10, 10, 0.8);

$color-link: rgb(36, 187, 36);

$color-error: rgb(172, 13, 13);
$color-danger: rgb(170, 28, 28);
